/************
General Styling
************/
#nav {
    font-family: 'Open Sans', sans-serif;
}


a:visited {
    text-decoration: none;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

a:hover {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #0B0B3B;
}

.item > a {
  position: relative;
  text-decoration: none;
}

.item > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0B0B3B;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.item > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*********
Header
*********/
header {
    position: fixed;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 20%;
    z-index: 1;
}

ul {
    font-size: 15px;
}

#nav {
    margin-top: 22px;
}

#nav, footer, .dish {
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

.selected {
    color: #0B0B3B;    
    list-style: none;
    border-bottom-style: solid;
    border-width: 1px;
}

li, .item {
    list-style: none;
}

.item, .selected {
    margin-left: 30px;
    margin-right: 30px;
}

#primary_nav_wrap ul li ul {
    background-color: #BDBDBD;
}

nav {
    text-align: center;
}

#title {
    font-family: 'Swanky and Moo Moo', cursive;
    color: #0B0B3B;
    font-size: 3em;
}
/*******
Images
*******/
.pic {
    width: 300px;
    height: auto;
}

.icon {
    width: 42px;
    height: auto;
    transition: all 0.3s ease;
}

.icon:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.food {
    width: 100%;
    margin-top: 125px;
}

.plate {
   width: 100%;
   height: 450px;
   margin: 0;
   padding: 0;
   background-color:#000;
   top: 0;
   left: 0;
}
/******
Body
*******/
body {
    margin: 0;
}

.title {
  margin-top: -300px;
  text-align: center;
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em; 
}

.body {
    font-family: 'Josefin Sans', sans-serif;
    color: #0B0B3B;
    font-weight: 900;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 1.3em;
}

.body .opit {
    margin: 40px;
}

.inside {
    position: absolute;
    top: 1175px;
    left: 45.5%;
    color: #fff;
    font-size: 3.4em;
    font-family: 'Josefin Sans', sans-serif;
}

.middle {
    font-family: 'Josefin Sans', sans-serif;
    color: #0B0B3B;
    font-weight: 900;
    text-align: center;
    margin-bottom: 100px;
    font-size: 1.3em;
}

.middle .opit {
    margin: 40px;
}

.button {
    margin-top: 40px;
    font-size: 1.3em;
    text-align: center;
    border-radius: 8%;
    color: #0B0B3B;
}

.button > a {
  position: relative;
  text-decoration: none;
}

.button > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0B0B3B;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.button > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

form {
    margin-bottom: 20px;
    margin-left: 30px;
    width: 50%;
    float: left;
}

#h {
    margin-top: 200px;
    margin-left: 30px;
}

form, #h, #frame {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

#frame {
    position: absolute;
    top: 180px;
    left: 60%
}

.page {
    width: 940px;
    height: 1216px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

.encase {
    text-align: center;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 2em;
    margin-bottom: 3px;
    color: #0B0B3B;
}

.center {
    font-style: italic;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 25px;
}

#r {
    float: left;
}

#l {
    float: right;
}

#two {
    margin-top: 25%;
}

#three {
    margin-top: 10%;
}

#one {
    position: absolute;
    top: 0;
}

#four {
    margin-top: 5%;
}

#wrapper {
    min-height: 475px;
    margin: 0 auto;
    margin-top: 80px;
}
/*********
Media Queries
********/

/***
Lines
***/
.contact-info {
    padding: 0;
    
}

#menu {
    margin-top: 200px;
}

.dish {
    display: inline;
    color: #0B0B3B;
}

.dunno {
    display: inline;
}

p.italic {
    display: inline;
    font-style: italic;
}

ul.ul > li {
    margin: 15px;
}

#bar {
    position: fixed;
    z-index: 10;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

#bar > ul > li {
    margin: 7px;
}

.down {
    width: 30px;
}

#f {
    position: absolute;
    top: 550px;
}

#gallery {
    margin-top: 150px;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    list-style: none;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: .75em;
}

.img {
    max-width: 100%;
    vertical-align: middle;
}

@media screen and (min-width: 480px) {  
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child(4n) {
        clear: left;
    }
}
/*******
Carousel
*******/

/******
Loading Screen
*****/
div#load_screen {
    background: #fff;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1600px;
}

div#load_screen > div#loading {
    width: 120px;
    height: 24px;
    margin: 300px auto;
}

/********
Footer
*********/
footer {
    font-size: .75em;
    padding-top: 50px;
    color: #fff;
    clear: both;
    background-color: #2E2E2E;
    padding: 1em 0em;
    position: relative;
    height: 250px;
    font-family: 'Josefin Sans', sans-serif;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin: 0 5px;
}

#right {
    float: right;
    margin-right: 15%;
}

#left {
    float: left;
    margin-left: 5%;
}

#center {
    margin-left: 20%;
    width: 33%;
}

.head {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 20px;
}

.name {
    float: left;
    color: #fff;
    margin-right: 20px;
}

/******
Idunno
*****/
#intro {
    position: absolute;
    top: 175px;
    left: 52%;
    font-family: 'Josefin Sans', sans-serif;
}

#middle {
    padding: 0;
    margin-left: 40%;
    float: bottom;
}

iframe {
    margin-bottom: 20px;
}

/******
Spinner
*******/
.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #0B0B3B;
  animation: loading 1s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}